/* About Me Section Styling */
#about {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

#about h2 {
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 10px;
}

.highlight {
    color: #3498db; /* Light Blue for your name and CGPA */
}

.html-tag {
    color: #e74c3c; /* Red for HTML */
}

.css-tag {
    color: #16a085; /* Teal for CSS */
}

.plp {
    color: #9b59b6; /* Purple for Power Learn Project */
}

.larger-text {
    font-size: 1.2em; /* Slightly larger text for emphasis */
}

p {
    font-size: 1em;
    line-height: 1.6;
    color: #34495e;
}

/* Education Section Styling */
#education {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#education h2 {
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.education-item {
    margin-bottom: 20px;
}

.education-item h3 {
    color: #3498db;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.education-item p {
    font-size: 1.1em;
    color: #34495e;
}

.address {
    font-style: italic;
    color: #7f8c8d;
}



